{% load thumbnail %}
{% for product in products %}
<div class="col-md-4 mb-4">
  <div class="product-card">
    
    {% if product.images.first %}
    {% thumbnail product.images.first.url "100x100" crop="center" as im %}
    <img src="{{ im.url }}" alt="{{ product.name }}" style="max-width: 300px;" />
    {% endthumbnail %}
    {% else %}
    <p>Нет изображения</p>
    {% endif %}
    
    <h5>{{ product.name }} {{ product.price }}</h5>
    
    <p class="card-text">
      {{ product.description }}
    </p>
    <button class="btn btn-primary">В корзину</button>

  </div>
</div>
{% endfor %}