{% extends 'includes/base_with_sidebar.html' %}

{% load thumbnail %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block main_content %}

<div class="row">
  <!-- Карточки товара -->
  {% for product in page_obj %}
  <div class="col-lg-4">
    <div class="product-card">

      <!-- Изображение продукта -->

      <div class="product-thumb">
        {% if product.images.first %}
        <!-- product.images.first.image -> "image" это поле в модели ProductImage -->
        {% thumbnail product.images.first.image "400x400" crop="center" as im %}
        <a href="{{ product.get_absolute_url }}">
          <img src="{{ im.url }}" alt="{{ product.name }}" />
        </a>
        {% endthumbnail %}
        {% else %}
        <div
          style="display: flex; align-items: center; justify-content: center; width: 100%; height: 200px; background-color: #ccc; border-radius: 5px;">
          Нет фото
        </div>
        {% endif %}
      </div>

      <!-- Информация о продукте -->
      <div class="product-details">
        <div class="product-name">
          <h5>{{ product.name }}</h5>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-6 product-price">
              <span>{{ product.price }}&nbsp;руб.</span>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-6 product-links">
              <form action="{% url 'cart:cart_add' product.id %}" method="post" class="d-flex align-items-center">
                {{ cart_product_form }}
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-secondary cart-add-button ms-2">
                  <i class="fa-solid fa-cart-plus"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  {% endfor %}
</div>
<div class="d-flex justify-content-center">
  {% include 'includes/paginator.html' %}
</div>
</div>

{% endblock %}