{% extends 'base.html' %}

{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="row d-flex">

    <aside class="col-md-3 color-window p-4">
      <h3>Категории</h3>
      <ul>
        <li {% if not category %} class="selected" {% endif %}>
          <a href="{% url 'product:product_list' %}">Все ножи</a>
        </li>
        {% for c in categories %}
        <li class="selected">
          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </aside>
    <!-- Основная область для меняющегося контента -->
    <section class="col-md-9 color-window p-4">
      <!-- <div class="row row-cols-1 row-cols-md-3 mb-3 text-center"> -->
      <div class="row">
        <!-- Карточка товара -->
        {% include 'product/cycle_products.html' %}
      </div>
      <div class="d-flex justify-content-center">
        {% include 'includes/paginator.html' %}
      </div>
  </div>
  </section>
</div>
{% endblock %}