{% extends "base.html" %}

{% block content %}
<div class="container color-window mt-3 border-top">
    <!-- <div class="row g-4 column-gap-3 d-flex"> -->
    <div class="row d-flex">

        <!-- Левая панель -->
        <aside class="col-md-2 sidebar">
            {% include 'includes/sidebar.html' %}
        </aside>
        <!-- Основное окно -->
        <!-- Основная область для меняющегося контента -->
        <section class="col-md-10 p-4 ">
            {% block main_content %}

            {% endblock %}
        </section>
    </div>
</div>
{% endblock %}