{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- Левая панель -->
            <aside class="col-md-3">
                {% block sidebar %}
                    <p>Здесь может быть меню или информация</p>
                {% endblock %}
            </aside>

            <!-- Основной контент -->
            <main class="col-md-9">
                {% block main_content %}
                
                {% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
