{% load static %}

<header class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Добавить ссылку на главную страницу в href="#" -->
                <a href="{% url 'product:product_list' %}" class="navbar-brand">
                    <img src="{% static 'img/logo.png' %}" width="38" height="30" class="me-3" alt="Bootstrap">Blade
                </a>

                <!-- Кнопка для мобильных устройств -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Переключить навигацию">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Навигация -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link" href="#">Каталог</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Контакты</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="#" class="nav-link">{{ user.username }}</a>
                        </li>
                        <li class="nav-item">
                            <form action="{% url 'users:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link nav-link" style="padding: 0;">Выйти</button>
                            </form>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'users:login' %}" class="nav-link">Войти</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>